<a href="https://colab.research.google.com/github/ahmedebeed555/pandas/blob/main/25JulListingDataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import pandas as pd
df = pd.read_csv('/content/listings.csv')

In [46]:
df

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2992450,https://www.airbnb.com/rooms/2992450,20250609011619,2025-06-09,city scrape,Luxury 2 bedroom apartment,The apartment is located in a quiet neighborho...,NaN,https://a0.muscache.com/pictures/44627226/0e72...,4621559,...,4.56,3.22,3.67,NaN,f,1,1,0,0,0.07
1,3820211,https://www.airbnb.com/rooms/3820211,20250609011619,2025-06-09,city scrape,Restored Precinct in Center Sq. w/Parking,"Cozy, cool little 1BR Apt in the heart Albany'...","Great restaurants, architecture, walking, peop...",https://a0.muscache.com/pictures/prohost-api/H...,19648678,...,4.81,4.83,4.78,NaN,f,4,4,0,0,2.34
2,5651579,https://www.airbnb.com/rooms/5651579,20250609011619,2025-06-09,city scrape,Large studio apt by Capital Center & ESP@,"Spacious studio with hardwood floors, fully eq...",The neighborhood is very eclectic. We have a v...,https://a0.muscache.com/pictures/b3fc42f3-6e5e...,29288920,...,4.88,4.76,4.64,NaN,f,2,1,1,0,3.02
3,6623339,https://www.airbnb.com/rooms/6623339,20250609011619,2025-06-09,city scrape,Center Sq. Loft in Converted Precinct w/ Parking,Large renovated 1 bedroom apartment in convert...,"Located in Albany's finest urban neighborhood,...",https://a0.muscache.com/pictures/prohost-api/H...,19648678,...,4.70,4.80,4.72,NaN,f,4,4,0,0,2.72
4,9005989,https://www.airbnb.com/rooms/9005989,20250609011619,2025-06-09,city scrape,"Studio in The heart of Center SQ, in Albany NY",(21 years of age or older ONLY) NON- SMOKING.....,"There are many shops, restaurants, bars, museu...",https://a0.muscache.com/pictures/d242a77e-437c...,17766924,...,4.93,4.87,4.77,NaN,f,1,1,0,0,5.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442,1419803505997334256,https://www.airbnb.com/rooms/1419803505997334256,20250609011619,2025-06-09,city scrape,Modern Historical Albany Living,This stylish place to stay is perfect and rela...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,51050977,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
443,1430417055174000914,https://www.airbnb.com/rooms/1430417055174000914,20250609011619,2025-06-09,city scrape,Café Capriccio Suite,This elegant apartment on the ground floor of ...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,418024477,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
444,1432823196473666155,https://www.airbnb.com/rooms/1432823196473666155,20250609011619,2025-06-09,city scrape,"Charming, Stylish Apt Downtown",Take it easy at this unique and tranquil getaway.,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,531209536,...,NaN,NaN,NaN,NaN,t,2,2,0,0,NaN
445,1434108183586713709,https://www.airbnb.com/rooms/1434108183586713709,20250609011619,2025-06-09,city scrape,Cozy Albany Suite Next to Downtown with Gym,Welcome to your cozy Albany retreat! Enjoy a c...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,466790114,...,5.00,5.00,5.00,NaN,t,9,8,1,0,1.00
446,1434112653259573474,https://www.airbnb.com/rooms/1434112653259573474,20250609011619,2025-06-09,city scrape,Stylish Albany Room minutes to Downtown,Welcome to your cozy Albany retreat! Enjoy a c...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,466790114,...,NaN,NaN,NaN,NaN,t,9,8,1,0,NaN

In [47]:
df.describe()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,accommodates,bathrooms,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,4.470000e+02,4.470000e+02,4.470000e+02,447.000000,447.000000,0.0,447.000000,447.000000,447.000000,415.000000,...,380.000000,380.000000,380.000000,380.000000,0.0,447.000000,447.000000,447.000000,447.0,380.000000
mean,7.590596e+17,2.025061e+13,2.509316e+08,42.434004,62.384787,NaN,42.658487,-73.776975,3.474273,1.221687,...,4.825868,4.848237,4.664342,4.709789,NaN,6.243848,4.416107,1.827740,0.0,1.946526
std,5.182807e+17,7.821254e-03,2.002203e+08,227.069357,346.175206,NaN,0.010478,0.019069,2.490094,0.613072,...,0.354342,0.321278,0.395802,0.422503,NaN,6.198586,5.700013,3.637663,0.0,1.966537
min,2.992450e+06,2.025061e+13,6.576000e+04,1.000000,1.000000,NaN,42.630660,-73.876490,1.000000,0.000000,...,2.000000,2.330000,2.330000,1.000000,NaN,1.000000,0.000000,0.000000,0.0,0.040000
25%,5.311787e+07,2.025061e+13,4.762598e+07,2.000000,2.000000,NaN,42.652245,-73.789129,2.000000,1.000000,...,4.820000,4.850000,4.500000,4.670000,NaN,1.000000,1.000000,0.000000,0.0,0.477500
50%,9.289489e+17,2.025061e+13,2.329679e+08,4.000000,6.000000,NaN,42.657510,-73.773570,3.000000,1.000000,...,4.940000,4.960000,4.810000,4.830000,NaN,3.000000,2.000000,0.000000,0.0,1.255000
75%,1.192345e+18,2.025061e+13,4.306940e+08,11.000000,14.500000,NaN,42.665027,-73.763560,4.000000,1.000000,...,5.000000,5.000000,4.940000,4.942500,NaN,9.000000,6.000000,2.000000,0.0,2.850000
max,1.434113e+18,2.025061e+13,6.804113e+08,2159.000000,2577.000000,NaN,42.714900,-73.738250,16.000000,7.000000,...,5.000000,5.000000,5.000000,5.000000,NaN,22.000000,22.000000,13.000000,0.0,11.340000

In [48]:
df.drop_duplicates(inplace=True)

In [49]:
df

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2992450,https://www.airbnb.com/rooms/2992450,20250609011619,2025-06-09,city scrape,Luxury 2 bedroom apartment,The apartment is located in a quiet neighborho...,NaN,https://a0.muscache.com/pictures/44627226/0e72...,4621559,...,4.56,3.22,3.67,NaN,f,1,1,0,0,0.07
1,3820211,https://www.airbnb.com/rooms/3820211,20250609011619,2025-06-09,city scrape,Restored Precinct in Center Sq. w/Parking,"Cozy, cool little 1BR Apt in the heart Albany'...","Great restaurants, architecture, walking, peop...",https://a0.muscache.com/pictures/prohost-api/H...,19648678,...,4.81,4.83,4.78,NaN,f,4,4,0,0,2.34
2,5651579,https://www.airbnb.com/rooms/5651579,20250609011619,2025-06-09,city scrape,Large studio apt by Capital Center & ESP@,"Spacious studio with hardwood floors, fully eq...",The neighborhood is very eclectic. We have a v...,https://a0.muscache.com/pictures/b3fc42f3-6e5e...,29288920,...,4.88,4.76,4.64,NaN,f,2,1,1,0,3.02
3,6623339,https://www.airbnb.com/rooms/6623339,20250609011619,2025-06-09,city scrape,Center Sq. Loft in Converted Precinct w/ Parking,Large renovated 1 bedroom apartment in convert...,"Located in Albany's finest urban neighborhood,...",https://a0.muscache.com/pictures/prohost-api/H...,19648678,...,4.70,4.80,4.72,NaN,f,4,4,0,0,2.72
4,9005989,https://www.airbnb.com/rooms/9005989,20250609011619,2025-06-09,city scrape,"Studio in The heart of Center SQ, in Albany NY",(21 years of age or older ONLY) NON- SMOKING.....,"There are many shops, restaurants, bars, museu...",https://a0.muscache.com/pictures/d242a77e-437c...,17766924,...,4.93,4.87,4.77,NaN,f,1,1,0,0,5.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442,1419803505997334256,https://www.airbnb.com/rooms/1419803505997334256,20250609011619,2025-06-09,city scrape,Modern Historical Albany Living,This stylish place to stay is perfect and rela...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,51050977,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
443,1430417055174000914,https://www.airbnb.com/rooms/1430417055174000914,20250609011619,2025-06-09,city scrape,Café Capriccio Suite,This elegant apartment on the ground floor of ...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,418024477,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
444,1432823196473666155,https://www.airbnb.com/rooms/1432823196473666155,20250609011619,2025-06-09,city scrape,"Charming, Stylish Apt Downtown",Take it easy at this unique and tranquil getaway.,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,531209536,...,NaN,NaN,NaN,NaN,t,2,2,0,0,NaN
445,1434108183586713709,https://www.airbnb.com/rooms/1434108183586713709,20250609011619,2025-06-09,city scrape,Cozy Albany Suite Next to Downtown with Gym,Welcome to your cozy Albany retreat! Enjoy a c...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,466790114,...,5.00,5.00,5.00,NaN,t,9,8,1,0,1.00
446,1434112653259573474,https://www.airbnb.com/rooms/1434112653259573474,20250609011619,2025-06-09,city scrape,Stylish Albany Room minutes to Downtown,Welcome to your cozy Albany retreat! Enjoy a c...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,466790114,...,NaN,NaN,NaN,NaN,t,9,8,1,0,NaN

In [50]:
df.shape

(447, 79)

In [51]:
df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'availability_eoy',
       'number_of_reviews_ly', 'estimated_occupancy_l365d',
       'estimated_revenue_l365d', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [52]:
df.dtypes

id                                                int64
listing_url                                      object
scrape_id                                         int64
last_scraped                                     object
source                                           object
                                                 ...
calculated_host_listings_count                    int64
calculated_host_listings_count_entire_homes       int64
calculated_host_listings_count_private_rooms      int64
calculated_host_listings_count_shared_rooms       int64
reviews_per_month                               float64
Length: 79, dtype: object

In [53]:
#Missing value per column
df.isnull().sum()

id                                               0
listing_url                                      0
scrape_id                                        0
last_scraped                                     0
source                                           0
                                                ..
calculated_host_listings_count                   0
calculated_host_listings_count_entire_homes      0
calculated_host_listings_count_private_rooms     0
calculated_host_listings_count_shared_rooms      0
reviews_per_month                               67
Length: 79, dtype: int64

In [54]:
#percentage of missing values
(df.isnull().sum()/len(df))*100

id                                               0.000000
listing_url                                      0.000000
scrape_id                                        0.000000
last_scraped                                     0.000000
source                                           0.000000
                                                  ...
calculated_host_listings_count                   0.000000
calculated_host_listings_count_entire_homes      0.000000
calculated_host_listings_count_private_rooms     0.000000
calculated_host_listings_count_shared_rooms      0.000000
reviews_per_month                               14.988814
Length: 79, dtype: float64

In [55]:
# now drop reviews_per_month column
df.drop('reviews_per_month',axis=1,inplace=True)

In [56]:
df = df.drop(['reviews_per_month'], axis=1)

KeyError: "['reviews_per_month'] not found in axis"

In [ ]:
MyCoumnsList=(df.columns.tolist())

In [ ]:
MyCoumnsList

In [ ]:
df

In [ ]:
df.drop('name',axis=1,inplace=True)

In [ ]:
df.drop('listing_url',axis=1,inplace=True)

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 447 entries, 0 to 446
Data columns (total 78 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            447 non-null    int64
 1   listing_url                                   447 non-null    object
 2   scrape_id                                     447 non-null    int64
 3   last_scraped                                  447 non-null    object
 4   source                                        447 non-null    object
 5   name                                          447 non-null    object
 6   description                                   437 non-null    object
 7   neighborhood_overview                         198 non-null    object
 8   picture_url                                   447 non-null    object
 9   host_id                                       447 non-null    int64
 10  host_url                                      447 non-null    object
 11  host_name                                     447 non-null    object
 12  host_since                                    447 non-null    object
 13  host_location                                 339 non-null    object
 14  host_about                                    241 non-null    object
 15  host_response_time                            421 non-null    object
 16  host_response_rate                            421 non-null    object
 17  host_acceptance_rate                          439 non-null    object
 18  host_is_superhost                             435 non-null    object
 19  host_thumbnail_url                            447 non-null    object
 20  host_picture_url                              447 non-null    object
 21  host_neighbourhood                            376 non-null    object
 22  host_listings_count                           447 non-null    int64
 23  host_total_listings_count                     447 non-null    int64
 24  host_verifications                            447 non-null    object
 25  host_has_profile_pic                          447 non-null    object
 26  host_identity_verified                        447 non-null    object
 27  neighbourhood                                 198 non-null    object
 28  neighbourhood_cleansed                        447 non-null    object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      447 non-null    float64
 31  longitude                                     447 non-null    float64
 32  property_type                                 447 non-null    object
 33  room_type                                     447 non-null    object
 34  accommodates                                  447 non-null    int64
 35  bathrooms                                     415 non-null    float64
 36  bathrooms_text                                447 non-null    object
 37  bedrooms                                      442 non-null    float64
 38  beds                                          415 non-null    float64
 39  amenities                                     447 non-null    object
 40  price                                         415 non-null    object
 41  minimum_nights                                447 non-null    int64
 42  maximum_nights                                447 non-null    int64
 43  minimum_minimum_nights                        447 non-null    int64
 44  maximum_minimum_nights                        447 non-null    int64
 45  minimum_maximum_nights                        447 non-null    int64
 46  maximum_maximum_nights                        447 non-null    int64
 47  minimum_nights_avg_ntm                        447 non-null    float64
 48  maximum_nights_avg_ntm                        447 non-null    float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              441 non-null    object
 51  availability_30                               447 non-null    int64
 52  availability_60                               447 non-null    int64
 53  availability_90                               447 non-null    int64
 54  availability_365                              447 non-null    int64
 55  calendar_last_scraped                         447 non-null    object
 56  number_of_reviews                             447 non-null    int64
 57  number_of_reviews_ltm                         447 non-null    int64
 58  number_of_reviews_l30d                        447 non-null    int64
 59  availability_eoy                              447 non-null    int64
 60  number_of_reviews_ly                          447 non-null    int64
 61  estimated_occupancy_l365d                     447 non-null    int64
 62  estimated_revenue_l365d                       415 non-null    float64
 63  first_review                                  380 non-null    object
 64  last_review                                   380 non-null    object
 65  review_scores_rating                          380 non-null    float64
 66  review_scores_accuracy                        380 non-null    float64
 67  review_scores_cleanliness                     380 non-null    float64
 68  review_scores_checkin                         380 non-null    float64
 69  review_scores_communication                   380 non-null    float64
 70  review_scores_location                        380 non-null    float64
 71  review_scores_value                           380 non-null    float64
 72  license                                       0 non-null      float64
 73  instant_bookable                              447 non-null    object
 74  calculated_host_listings_count                447 non-null    int64
 75  calculated_host_listings_count_entire_homes   447 non-null    int64
 76  calculated_host_listings_count_private_rooms  447 non-null    int64
 77  calculated_host_listings_count_shared_rooms   447 non-null    int64
dtypes: float64(18), int64(26), object(34)
memory usage: 272.5+ KB

In [62]:
df['price'].replace('[\$,]', '', regex=True, inplace=True)

In [63]:
df['price']

0       70.00
1      100.00
2       75.00
3       95.00
4       86.00
        ...
442    120.00
443    150.00
444    107.00
445     57.00
446     61.00
Name: price, Length: 447, dtype: object

In [73]:
df[['price','minimum_nights','availability_365']].describe()

             price  minimum_nights  availability_365
count   415.000000      447.000000        447.000000
mean    121.004819        6.684564        226.626398
std     126.004102       19.718792        116.905740
min      24.000000        1.000000          0.000000
25%      68.000000        1.000000        149.000000
50%      93.000000        2.000000        250.000000
75%     131.500000        3.000000        332.500000
max    1486.000000      365.000000        365.000000

In [66]:
df['price'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 447 entries, 0 to 446
Series name: price
Non-Null Count  Dtype
--------------  -----
415 non-null    object
dtypes: object(1)
memory usage: 3.6+ KB

In [72]:
df[['price','minimum_nights','availability_365']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 447 entries, 0 to 446
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             415 non-null    float64
 1   minimum_nights    447 non-null    int64
 2   availability_365  447 non-null    int64
dtypes: float64(1), int64(2)
memory usage: 10.6 KB

Here, i wanted to convert the 'price' column to float

In [71]:
df['price']=df['price'].astype(float)

In [76]:
df=df[df['price']<=1000]

In [77]:
df['price']

0       70.0
1      100.0
2       75.0
3       95.0
4       86.0
       ...
442    120.0
443    150.0
444    107.0
445     57.0
446     61.0
Name: price, Length: 412, dtype: float64

In [78]:
df=df[df['minimum_nights']<=365]

In [79]:
df['minimum_nights']

0      28
1       2
2       2
3       2
4       1
       ..
442     7
443     1
444    28
445     1
446     1
Name: minimum_nights, Length: 412, dtype: int64

In [80]:
df['availability_365'].describe()

count    412.000000
mean     234.689320
std      110.932217
min        0.000000
25%      159.000000
50%      253.500000
75%      334.000000
max      365.000000
Name: availability_365, dtype: float64

In [81]:
df=df[df['availability_365']<=365]
df=df[df['availability_365']>0]

In [82]:
df['availability_365'].describe()

count    409.000000
mean     236.410758
std      109.491908
min        1.000000
25%      159.000000
50%      256.000000
75%      334.000000
max      365.000000
Name: availability_365, dtype: float64

In [86]:
df

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
0,2992450,https://www.airbnb.com/rooms/2992450,20250609011619,2025-06-09,city scrape,Luxury 2 bedroom apartment,The apartment is located in a quiet neighborho...,NaN,https://a0.muscache.com/pictures/44627226/0e72...,4621559,...,4.22,4.56,3.22,3.67,NaN,f,1,1,0,0
1,3820211,https://www.airbnb.com/rooms/3820211,20250609011619,2025-06-09,city scrape,Restored Precinct in Center Sq. w/Parking,"Cozy, cool little 1BR Apt in the heart Albany'...","Great restaurants, architecture, walking, peop...",https://a0.muscache.com/pictures/prohost-api/H...,19648678,...,4.85,4.81,4.83,4.78,NaN,f,4,4,0,0
2,5651579,https://www.airbnb.com/rooms/5651579,20250609011619,2025-06-09,city scrape,Large studio apt by Capital Center & ESP@,"Spacious studio with hardwood floors, fully eq...",The neighborhood is very eclectic. We have a v...,https://a0.muscache.com/pictures/b3fc42f3-6e5e...,29288920,...,4.81,4.88,4.76,4.64,NaN,f,2,1,1,0
3,6623339,https://www.airbnb.com/rooms/6623339,20250609011619,2025-06-09,city scrape,Center Sq. Loft in Converted Precinct w/ Parking,Large renovated 1 bedroom apartment in convert...,"Located in Albany's finest urban neighborhood,...",https://a0.muscache.com/pictures/prohost-api/H...,19648678,...,4.82,4.70,4.80,4.72,NaN,f,4,4,0,0
4,9005989,https://www.airbnb.com/rooms/9005989,20250609011619,2025-06-09,city scrape,"Studio in The heart of Center SQ, in Albany NY",(21 years of age or older ONLY) NON- SMOKING.....,"There are many shops, restaurants, bars, museu...",https://a0.muscache.com/pictures/d242a77e-437c...,17766924,...,4.95,4.93,4.87,4.77,NaN,f,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442,1419803505997334256,https://www.airbnb.com/rooms/1419803505997334256,20250609011619,2025-06-09,city scrape,Modern Historical Albany Living,This stylish place to stay is perfect and rela...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,51050977,...,NaN,NaN,NaN,NaN,NaN,f,1,1,0,0
443,1430417055174000914,https://www.airbnb.com/rooms/1430417055174000914,20250609011619,2025-06-09,city scrape,Café Capriccio Suite,This elegant apartment on the ground floor of ...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,418024477,...,NaN,NaN,NaN,NaN,NaN,f,1,1,0,0
444,1432823196473666155,https://www.airbnb.com/rooms/1432823196473666155,20250609011619,2025-06-09,city scrape,"Charming, Stylish Apt Downtown",Take it easy at this unique and tranquil getaway.,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,531209536,...,NaN,NaN,NaN,NaN,NaN,t,2,2,0,0
445,1434108183586713709,https://www.airbnb.com/rooms/1434108183586713709,20250609011619,2025-06-09,city scrape,Cozy Albany Suite Next to Downtown with Gym,Welcome to your cozy Albany retreat! Enjoy a c...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,466790114,...,5.00,5.00,5.00,5.00,NaN,t,9,8,1,0
446,1434112653259573474,https://www.airbnb.com/rooms/1434112653259573474,20250609011619,2025-06-09,city scrape,Stylish Albany Room minutes to Downtown,Welcome to your cozy Albany retreat! Enjoy a c...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,466790114,...,NaN,NaN,NaN,NaN,NaN,t,9,8,1,0

In [90]:
df['neighborhood_overview']

0                                                    NaN
1      Great restaurants, architecture, walking, peop...
2      The neighborhood is very eclectic. We have a v...
3      Located in Albany's finest urban neighborhood,...
4      There are many shops, restaurants, bars, museu...
                             ...
442                                                  NaN
443                                                  NaN
444                                                  NaN
445                                                  NaN
446                                                  NaN
Name: neighborhood_overview, Length: 409, dtype: object

In [91]:
df['neighbourhood_group'].unique()

KeyError: 'neighbourhood_group'

In [92]:
df['neighbourhood_group']

KeyError: 'neighbourhood_group'

In [96]:
df.drop('listing_url',axis=1,inplace=True)

In [98]:
df.drop('picture_url',axis=1,inplace=True)

In [102]:
df.drop('host_url',axis=1,inplace=True)

KeyError: "['host_url'] not found in axis"

In [104]:
df.drop('host_name',axis=1,inplace=True)

In [105]:
df

,id,scrape_id,last_scraped,source,name,description,neighborhood_overview,host_id,host_since,host_location,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
0,2992450,20250609011619,2025-06-09,city scrape,Luxury 2 bedroom apartment,The apartment is located in a quiet neighborho...,NaN,4621559,2013-01-07,"New York, NY",...,4.22,4.56,3.22,3.67,NaN,f,1,1,0,0
1,3820211,20250609011619,2025-06-09,city scrape,Restored Precinct in Center Sq. w/Parking,"Cozy, cool little 1BR Apt in the heart Albany'...","Great restaurants, architecture, walking, peop...",19648678,2014-08-07,NaN,...,4.85,4.81,4.83,4.78,NaN,f,4,4,0,0
2,5651579,20250609011619,2025-06-09,city scrape,Large studio apt by Capital Center & ESP@,"Spacious studio with hardwood floors, fully eq...",The neighborhood is very eclectic. We have a v...,29288920,2015-03-13,"Albany, NY",...,4.81,4.88,4.76,4.64,NaN,f,2,1,1,0
3,6623339,20250609011619,2025-06-09,city scrape,Center Sq. Loft in Converted Precinct w/ Parking,Large renovated 1 bedroom apartment in convert...,"Located in Albany's finest urban neighborhood,...",19648678,2014-08-07,NaN,...,4.82,4.70,4.80,4.72,NaN,f,4,4,0,0
4,9005989,20250609011619,2025-06-09,city scrape,"Studio in The heart of Center SQ, in Albany NY",(21 years of age or older ONLY) NON- SMOKING.....,"There are many shops, restaurants, bars, museu...",17766924,2014-07-07,"Albany, NY",...,4.95,4.93,4.87,4.77,NaN,f,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442,1419803505997334256,20250609011619,2025-06-09,city scrape,Modern Historical Albany Living,This stylish place to stay is perfect and rela...,NaN,51050977,2015-12-11,"Rochester, NY",...,NaN,NaN,NaN,NaN,NaN,f,1,1,0,0
443,1430417055174000914,20250609011619,2025-06-09,city scrape,Café Capriccio Suite,This elegant apartment on the ground floor of ...,NaN,418024477,2021-08-11,"Albany, NY",...,NaN,NaN,NaN,NaN,NaN,f,1,1,0,0
444,1432823196473666155,20250609011619,2025-06-09,city scrape,"Charming, Stylish Apt Downtown",Take it easy at this unique and tranquil getaway.,NaN,531209536,2023-08-11,NaN,...,NaN,NaN,NaN,NaN,NaN,t,2,2,0,0
445,1434108183586713709,20250609011619,2025-06-09,city scrape,Cozy Albany Suite Next to Downtown with Gym,Welcome to your cozy Albany retreat! Enjoy a c...,NaN,466790114,2022-06-29,NaN,...,5.00,5.00,5.00,5.00,NaN,t,9,8,1,0
446,1434112653259573474,20250609011619,2025-06-09,city scrape,Stylish Albany Room minutes to Downtown,Welcome to your cozy Albany retreat! Enjoy a c...,NaN,466790114,2022-06-29,NaN,...,NaN,NaN,NaN,NaN,NaN,t,9,8,1,0